#if(!$package.isEmpty())
package $package;
#end

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.JpaSpecificationExecutor;
#foreach($importClass in $importClassList)
import $importClass;
#end

public interface $simpleName extends JpaRepository<$entitySimpleName, $primaryKeyDataType>, JpaSpecificationExecutor<$entitySimpleName> {

}