########################################################################################################################
### Here are the variables available in the template:
### ${USER}: System.getProperty("user.name")
### ${DATE}: current date, format is yyyy-MM-dd
### ${TIME}: current time, format is HH:mm:ss
### ${YEAR}: currrent year, format is yyyy
### ${MONTH}: current month, format is MM
### ${DAY}: current day of month, format is dd
### ${HOUR}: current hour of day, format is HH
### ${MINUTE}: current minute of hour, format is mm
### ${SECOND}: current second of minute, format is ss
###
### ${package}: package name, eg: org.example
### ${importClassList}: import class list, type is java.util.List
### ${simpleName}: repository class simple name, eg: ExampleRepository
### ${entitySimpleName}: entity class simple name, eg: Example
### ${primaryKeyDataType}: entity class primary key field type simple name, eg: Long, String or Void
###
###
### For more information: https://github.com/carter-ya/idea-plugin-jpa-support/blob/master/src/main/java/com/ifengxue/plugin/generator/source/JpaRepositorySourceParser.java
########################################################################################################################
#if(!$package.isEmpty())
package $package;

#end
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.JpaSpecificationExecutor;
#foreach($importClass in $importClassList)
import $importClass;
#end
#if(!$importClassList.isEmpty())
## add new empty line

#end
public interface $simpleName extends JpaRepository<$entitySimpleName, $primaryKeyDataType>, JpaSpecificationExecutor<$entitySimpleName> {

}