<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC
    "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
    "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
  <context id="JPA.Support" defaultModelType="flat" targetRuntime="MyBatis3">
    <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin" />
    <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin" />
    <plugin type="org.mybatis.generator.plugins.ToStringPlugin" />
    <plugin type="org.mybatis.generator.plugins.MapperAnnotationPlugin" />

    <connectionFactory>
      <property name="driverClass" value="org.hsqldb.jdbcDriver"/>
      <property name="connectionURL" value="jdbc:hsqldb:mem:no_db"/>
      <property name="userId" value="sa"/>
    </connectionFactory>

    <javaModelGenerator targetPackage="${tablesConfig.entityPackageName}" targetProject="MAVEN">
      <property name="enableSubPackages" value="true" />
      <property name="trimStrings" value="true" />
    </javaModelGenerator>

    <sqlMapGenerator targetPackage="${tablesConfig.entityPackageName}" targetProject="MAVEN">
      <property name="enableSubPackages" value="true" />
    </sqlMapGenerator>

    <javaClientGenerator type="XMLMAPPER" targetPackage="${tablesConfig.repositoryPackageName}" targetProject="MAVEN">
      <property name="enableSubPackages" value="true" />
    </javaClientGenerator>

    <table tableName="${table.tableName}" domainObjectName="${table.entityName}" mapperName="${table.repositoryName}"
           enableInsert="false" enableSelectByPrimaryKey="true" enableSelectByExample="false"
           enableUpdateByPrimaryKey="false" enableDeleteByPrimaryKey="false" enableDeleteByExample="false"
           enableCountByExample="false" enableUpdateByExample="false" selectByPrimaryKeyQueryId="false"
           selectByExampleQueryId="false">
        #foreach($column in $table.columns)
          <columnOverride column="${column.columnName}" property="${column.fieldName}" javaType="${column.javaDataType.name}" #if($column.jdbcTypeName)jdbcType="${column.jdbcTypeName}"#end/>
        #end
    </table>
  </context>
</generatorConfiguration>
