#if($StringUtils.isNotBlank($tablesConfig.voPackageName))
package $tablesConfig.voPackageName;

#end
#set($useLombok = $tablesConfig.isUseLombok())
#set($useSwaggerUI = $tablesConfig.isUseSwaggerUIComment())
#set($serializable = $tablesConfig.isSerializable())
#if($useLombok)
import lombok.Data;
#end
#if($useSwaggerUI)
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
#if($existsJavaxValidation)
import javax.validation.constraints.NotNull;
import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotEmpty;
#elseif($existsJakartaValidation)
import jakarta.validation.constraints.NotNull;
import jakarta.validation.constraints.NotBlank;
import jakarta.validation.constraints.NotEmpty;
#end


#if($useLombok)
@Data
#end
#if($useSwaggerUI)
@ApiModel("$LocaleContextHolder.format("controller_save") $table.tableComment")
#end
public class ${table.entityName}${tablesConfig.voSuffixName} #if($serializable) implements java.io.Serializable #end {
    #if($serializable)
    private static final long serialVersionUID = 1L;

    #end
    #foreach($column in $table.columns)
        #if($tablesConfig.isUseFieldComment() && !$column.columnComment.isEmpty())

        /**
        * $column.getColumnComment()
        */
        #end
        #if(!$column.isNullable())
        @NotNull(message = "$column.fieldName can not null")
        #end
        #if($column.isNotBlank())
        @NotBlank(message = "$column.fieldName can not blank")
        #end
        #if($column.isNotEmpty())
        @NotEmpty(message = "$column.fieldName can not empty")
        #end
        #if($useSwaggerUI && !$column.columnComment.isEmpty())
        @ApiModelProperty("$column.columnComment")
        #end
        private $column.javaDataType.name $column.fieldName;

    #end
}
